.head{
  display: flex;
  align-items: center
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../img/menu.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;

}

.hd{
  height: 50%;
  width: 80%;
}
.logo{
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.btn{
  border-radius: 25px;
  border-color: white;
  color: white;
  font-size-adjust: 0.58;
}

.btn:hover{
  color: white;
}

.btn5{
  margin-right: 10px;
  margin-top: 10px;
  color:white;
  border-color: grey;
}

.btn5:hover{
  color: white;
  border-color: white;
}


.navbar-brand {
  padding: 0;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
} 
