
.txtfeild{
  border-radius: 25px;
  outline: none;
  background-color: #dbdbdb;
  border:3px;
  margin-bottom: 1vw;
}

.elemen{
  border: 1px;
  background-color: blue;
  border-color: black;
}

.elemen:hover{
  border-color: white;
}
